


/* Flex */
@media (min-width: 700px) {
  section.leading {
    display: flex;
    align-items: center;
  }
}



/* Grid */
section.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}


/* Global Styles */
body {
  font-family: Helvetica, sans-serif;
}

header {
  padding: 20px;
  font-size: 2em;
  color: white;
  background-color: #333;
}

section.leading {
  height: 240px;
  padding: 30px;
  margin-bottom: 30px;
  color: white;
  background-color: #333;
}

p.leading-bigtext {
  font-weight: bold;
  font-size: 14vw;
  margin-right: 60px;
}

p.leading-smalltext {
  font-size: 1.2em;
  line-height: 1.4em;
  max-width: 900px;
}

section.projects {
  max-width: 960px;
  /* top left&right bottom */
  margin: 0 auto 30px;
  /* margin-bottom: 0;
  margin-left: auto;
  margin-right: auto ;
  margin-bottom: 30px; */
}

article {
  position: relative;
}

article > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

h1.article-title {
  /* This is in relation to its parent */
  position: absolute;
  bottom: 0;
  max-width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}
