
#world {
  position: relative;
  width: 600px;
  height: 400px;
  border: 1px solid black;
  margin: 0 auto;
}

#char {
  position: absolute;
  width: 20px;
  height: 40px;
  background-color: black;
}